<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="/static/js/app.js" defer></script>
  <title>Music Bilboard Chart</title>
</head>

<body>
  <header>
    <a href=""><img src="/static/src/logo.png" alt="logo" class="logo" /></a>
  </header>
  <div class="showMents">
    <div>
      <h1 class="showMent">한 번에 보는 Music Chart!</h1>
    </div>
    <div>
      <h2 class="showMent">
        MBC1
        <p>(Music Bilboard Chart)</p>
      </h2>
    </div>
    <div>
      <h2 class="showMent">이제 힘들게😫 하나씩 찾아 볼 필요 없어요!</h2>
    </div>
    <div>
      <h2 class="showMent">국내에 있는 음악 스트리밍 사이트의 집합체!</h2>
    </div>
  </div>
  <div class="showMent showStart">
    <h5>지금 바로 사용해보세요</h5>
    <a href="./musicChart.html">
      <button type="button">MBC START</button>
    </a>
  </div>
</body>

</html>