<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/music.css" />
    <script src="/static/js/music.js" defer></script>
    <title>Music Chart</title>
  </head>

  <body>
    <header>
      <a href="/"><img src="/static/src/logo.png" alt="logo" class="logo" /></a>
    </header>
    <div class="container">
      <h1 class="siteTitle">Vibe</h1>
      <div class="musicBox">
        <div class="prev_next">
          <button type="button" class="prev">◄◄</button>
          <button type="button" class="next">►►</button>
        </div>
        <h1 class="site_name">Vibe</h1>
        <button type="button" class="showChart">차트 보기</button>
      </div>
      <button type="button" class="reset">reset</button>
      <div class="chartBox"></div>
    </div>
  </body>
</html>
