* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  word-wrap: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 30px 10px;
  position: absolute;
  z-index: 4;
}

.logo {
  width: 150px;
}

.mentBox:nth-child(3) {
  overflow: hidden;
}

.custom-shape-divider-top-1700529523 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1700529523 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1700529523 .shape-fill {
  fill: #ffffff;
}

.mentBox:nth-child(2) {
  background: #5272f2;
}

.mentBox:nth-child(3) {
  background: #f3b664;
}

.showMents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ment {
  transition: 1s;
  font-size: 2em;
  padding: 30px;
}

.startMent {
  font-size: 2.5em;
  opacity: 0;
  color: #fff;
  transform: translateY(-100px);
}

.startMent + p {
  transform: translateX(300px);
}

.ment + p {
  opacity: 0;
  transition: 1.4s;
  font-size: 1.4em;
  color: #000;
}

.ment_2 {
  transform: translateX(-200px);
  color: #000;
}

.ment_2 + p {
  transform: translateX(-500px) rotateY(160deg);
}
