<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/music.css" />
    <script src="../js/music.js" defer></script>
    <title>Music Chart</title>
  </head>
  <body>
    <header>
      <a href="../index.html"
        ><img src="../src/logo.png" alt="logo" class="logo"
      /></a>
    </header>
    <div class="container">
      <div class="musicBox">
        <div class="prev_next">
          <button type="button">◄</button>
          <button type="button">►</button>
        </div>
      </div>
    </div>
  </body>
</html>
